*,
*::before,
*::after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

*:focus-visible {
  border: 1px solid #FFF;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  display: flex;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  padding-left: 15px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.title {
  font-family: Oswald, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%; /* 70.5px */
  text-transform: uppercase;
  margin-bottom: 26px;
}

.content__accent {
  color: #545050;
}

.content__details {
  width: 100%;
  height: 100%;
}

.content__list {
  display: flex;
  height: 298px;
  width: 416px;
  flex-direction: column;
  align-items: flex-start;
  overflow-y: scroll;
  position: relative;
}

.content__list-item:not(:last-child) {
  margin-bottom: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
  width: 100%;
}

.content {
  display: flex;
  gap: 30px;
  margin: auto;
}

.content__video-card {
  display: flex;
  width: 394px;
  padding: 2px;
  justify-content: space-between;
  align-items: flex-start;
}

.content__video-card:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.content__video-card-title {
  color: #FFF;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
}

.content__video-card-description {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  flex-shrink: 0;
  object-fit: cover;
  object-position: center;
}

.content__list-item:active,
.content__card-link_current {
  background: #545050;
}

.content__card-link {
  display: block;
  text-decoration: none;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.result__video-container {
  height: 386px;
  position: relative;
}

.search-form {
  display: flex;
  justify-content: space-between;
  width: 711px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 49px;
  border: none;
  margin-bottom: 5px;
}

.search-form__fieldset-title {
  color: #FFF;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__submit-button {
  width: 194px;
}

.button:hover {
  text-decoration: underline;
}

.button:active {
  background: #545050;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #FFF;
  background-color: transparent;
  color: #FFF;
  text-align: center;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  height: 34px;
  align-self: end;
}

.button:focus-visible {
  outline: 1px solid #FFF;
}

.more-button {
  width: 399px;
  margin-bottom: 1px;
}

.search-form__label {
  display: flex;
  align-items: center;
  gap: 5px;
  width: fit-content;
  cursor: pointer;
}

.search-form__fieldset:first-child .search-form__label:hover {
  text-decoration: none;
}

.search-form__label:hover {
  text-decoration: underline;
}

.search-form__label:has(:focus-visible) {
  border: 1px solid #FFF;
}

.search-form__textfield {
  appearance: none;
  color: rgba(255, 255, 255);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
  border: none;
  width: 225px;
  border-top: 1px solid #FFF;
  border-bottom: 1px solid #FFF;
}

.search-form__textfield:active {
  outline: 1px solid #FFF;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #FFF;
}

.search-form__checkbox-list{
  display: flex;
  gap: 15px;
}

.search-form__checkbox:checked+.search-form__pseudo-checkbox::after{
  content: '';
  min-inline-size: 15px;
  min-block-size: 15px;
  background-color: white;
}

.content__list::-webkit-scrollbar-thumb {
  background: #545050dd;
  border-radius: 100px;
}

.content__list::-webkit-scrollbar {
  width:10px;
}